/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* STYLES */

:root{
    --light-blue: #9cb2ca;
    --dark-blue: #01385E;    
    --darker-blue: #001E41;
    --light-grey: #ececec;
    --black: black;
}

html {
    font-family: "ddt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#skip
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
#skip:focus
{
    position:static;
    width:auto;
    height:auto;
}
.invisible{
    display: none;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    position: fixed;
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#banner-logo p{
    align-self: center;
}
#banner-links{
    height: 100%;
}
#logo{
    width: 20%;
    margin-left: 30px;
}
#logo img{
    max-width: 100%;
    max-height: 100%;
}
#banner-logo{
    display:flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    background-color: white;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 50px;
    padding-right: 25px;
    align-items: center;
    background-color: var(--light-blue);
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: .3s;

}
nav ul li a:hover {
    text-decoration: none;
    color: white;
}
#return-to-top{
    position: fixed;
    bottom: 30px;
    right: 20px;
}
.diagonal-split-background{
    background-image: -webkit-linear-gradient(30deg, var(--light-blue) 50%, var(--light-grey) 50.3%);
}

#hero {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/UT3cSk.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: white;

}
.hero-content{
    width: 50%;
    margin-left: 50px;
}
h2 {
    font-size: 2.5em;
}
#hero p{
    font-size: 1.5em;
}
#badges{
    display: flex;
    gap: 130px;
    align-items: center;
}
#badges img{
    width: 200px;
    height: auto;
    margin: 10px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 1900,
  'GRAD' 1400,
  'opsz' 160
}
.material-symbols-outlined.green {
    color: green;
}
#services, #testimonials{
    width: 100%;
    margin-top: 30px;
}
#services-list{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 3.5em;
    margin-bottom: 50px;
    text-align: center;
}
#services-list p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#services p{
    color: var(--dark-blue);
    font-size: 25px;
}
#services h2{
    color: var(--dark-blue);
    padding-bottom: 35px;
}
#gallery{
    width: 100%;
    background-color: var(--light-grey);
    padding-bottom: 100px;
}
.gallery-header{
    padding: 25px 25px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    place-items: center;


}
.gallery-slot{
    border: 10px solid var(--darker-blue);
    height: 300px;
    width: 85%;
}
.centered{
    text-align: center;
}
#testimonials{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--light-blue);
}
.testimonials-header{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.testimonials-header h2{
    margin-bottom: 2rem;
}
.testimonials-header p{
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.testimonials-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    text-align: center;
}
.card{
    margin: 0 auto;
    width: 350px;
    padding: 1.5rem;
    display: grid;
    gap: .5rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
}
.card i{
    font-size: 3rem;
}
.card .quote{
    font-size: 1.5rem;
}
.ri-double-quotes-l{
    text-align: left;
}
.ri-double-quotes-r{
    text-align: right;
}
.testimonials-name{
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
}


.form-container{
   display: flex;
   gap: 60px;
   justify-content: space-between;
}
.left-column, .right-column{
    display: block;
}
.right-column{
    text-align: center;
    align-content: center;
}
#help-message{
    font-size: 28px;
    padding-bottom: 15px;

}
#custom-message{
    font-family: "Eras ITC", "Eras Light ITC", sans-serif;
    font-weight: 100;
    font-size: 24px;

}
#contact form input[type="submit"] {
    width: 200px;
    font-size: 1.2em;
}
input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 93%;
    border: 3px solid var(--dark-blue);
    border-radius: 6px;
    padding: 12px;
}
label{
    line-height: 2.5rem;
    font-size: 1.25rem;
}
#contact{
    padding: 20px;
    margin-bottom: 50px;
}
#contact h2{
    margin: 20px 0px 35px 55px;
}
input[type=submit] {
    padding: 5px 15px;
    background: var(--dark-blue);
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
}
input[type=submit]:hover {
    background-color: white;
    color: var(--dark-blue);
}
.right-column :nth-child(3){
    margin-top: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--light-grey);
    text-align: center;
    padding: 20px;
}
footer img{
    width: 50px;
    height: auto;
}

@media screen and (max-width: 600px) {
    body {
        width: 430px;
        background-color: var(--light-blue);
    }
    header{
        display: inline-block;
        width: 100%;
        left: 0;
    }
    .hide{
        display: none;
    }
    nav ul{
        padding-left: unset;
        padding-right: unset;
        justify-content: center;
    }
    #banner-links{
        padding-top: 25px;
        padding-bottom: 20px;
    }
    #banner-logo{
        justify-content: center;
    }
    #banner-logo p{
        display: none;
    }
    .hero-content{
        width: 75%;
    }
    .testimonials-grid{
        display: block;
    }
    #badges{
        justify-content: center;
        gap: unset;
        background-color: white;
        width: 100%;
    }
    #badges img{
        width: 100px;
    }
    #services-list{
        display: block;
    }
    .gallery-grid{
        grid-template-columns: none;
    }
    .gallery-slot{
        width: 60%;
    }
    .form-container{
        display: block;
    }
    .right-column{
        margin-top: 25px;
    }
    }